<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
<body class="container">
    <header>
    </header>
    <main>
        <div class="jumbotron">
            <h4><%= heading %></h4>
            <table>            
                <tr>
                    <td>Title</td>
                    <td><%= book.title %></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><%= book.description %></td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td><%= book.isbn %></td>
                </tr>
            </table>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>